<p class="title">Crea una nuova votazione:</p>
<div class="bordi">    
        <p class="h">Titolo:</p>
        <input #title type="text"/><br><br>
        <p class="h">Numero opzioni:</p>
         
        <input #num type="number" (keyup)="createRange(num.value)" value="2"/>
      <br><br>
    <li *ngFor="let passenger of createRange(num.value); let i=index"><input type="text" [(ngModel)]="passengersData[i]" placeholder="option"></li>

    <p class="error">{{error}}</p>
    <br><button class="buttonG" (click)="CreateVotation(title.value,num.value)">Crea!</button>
</div>


