<div class="title">    
  <h1>AAA - Project</h1>
  <button class="buttonM" type="button" (click)="ConnectMetamask()">
    Connect Metamask
  </button>

</div>


<nav>
  <a routerLink="/view-vote" routerLinkActive="active" ariaCurrentWhenActive="page">Vedi votazioni e risultati! </a>
  <a routerLink="/vote" routerLinkActive="active" ariaCurrentWhenActive="page">Vota! </a>
  <a routerLink="/create-vote" routerLinkActive="active" ariaCurrentWhenActive="page">Crea votazione! </a>
  <a routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page">Registra! </a>


</nav>
<router-outlet></router-outlet>
<footer>Made by Pietro Lauriola</footer>